<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/demo.css" />
<link rel="stylesheet" type="text/css" href="../css/icons.css" />
<link rel="stylesheet" type="text/css" href="../css/component.css" />
<link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<title>Contacto</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="../js/modernizr.custom.js"></script>
<style>
.iframe {
	text-align: center;
}
</style>
</head>

<body>
<div class="container">
<!-- Push Wrapper -->
<div class="mp-pusher" id="mp-pusher" >

<!-- mp-menu -->
<div id="mp-menu" class="mp-menu">
  <div class="mp-level">
    <div> <a href="../index.html">
      <p>[X]</p>
      </a> </div>
    <h2 style="text-align:left; padding-left:.9em;">Formatos Publicitarios</h2>
    <ul>
        <li><a class="" href="hometakeover.html">Home Take Over</a></li>
        <li><a class="" href="patrociniodeseccion.html">Patrocinio Sección</a></li>
        <li><a class="" href="dobleformato.html">Doble Formato</a></li>
        <li><a class="" href="superespecial.html">Super Pushdown</a></li>
        <li><a class="" href="newsletter.html">NewsLetter</a></li>
        <li><a class="" href="mailing.html">Email</a></li>
        	<li><div class="Subtitulo" style="color:#A67B34;">TRADICIONALES:</div></li>
       		  <li style="padding-left:25px;"> <a class="icon icon-arrow-right-3" href="box.html">Box Banner</a> </li>
              <li style="padding-left:25px;"> <a class="icon icon-arrow-right-3" href="sky.html">Skyscraper</a> </li>
              <li style="padding-left:25px;"> <a class="icon icon-arrow-right-3" href="super.html">Super Banner</a> </li>  
        <li><a class="icon icon-mail" href="contacto.html">Contacto</a> <br />
          <p></p>
        </li>
      	</ul>
    </ul>
    <footer>
        <p style="color: rgba(0, 0, 0, 0.46); text-align:left; font-size: 9px; text-shadow:none; font-weight: 300; bottom:20px; padding-left:25.2000007629395px;"> © 2015 Condé Nast de México S.A. de C.V. </br> Todos los derechos reservados</p>
     </footer>
  </div>
</div>
<!-- /mp-menu -->
<div class="scroller"> 
  <!-- this is for emulating position fixed of the nav -->
  <div class="scroller-inner">
    <div class="header">
      <div> <a href="#" id="trigger" class="menu-trigger"> <span style="margin-top:2px;" class="bar"></span>
        <p> MENU</p>
        <span class="bar"></span></a> </div>
      <div id="logo"><a href="../index.html"><img style="border:none;" src="../img/gq.png" width="161" height="41" /></a></div>
      <ul class="sitios">
        <li>Más sitios de <span class="conde-nast">CONDÉ NAST DIGITAL</span> México</li>
        <li><a href="http://www.admexico.mx/micros/formatosad/index.html" class="AD"><span>AD</span></a></li>
          <li><a href="http://www.glamour.mx/micros/formatosglamour/index.html" class="Glamour"><span>Glamour</span></a></li>
          <li><a href="http://www.vanityfair.mx/micros/formatosvf/index.html" class="VF"><span>VF</span></a></li>
          <li><a href="http://www.vogue.mx/micros/formatosvogue/index.html" class="Vogue"><span>Vogue</span></a></li>
      </ul>
    </div>
    
    <!--
        <div class="content clearfix">
          <div class="block block-40 clearfix">
            <p><a href="#" id="trigger" class="menu-trigger">Open/Close Menu</a></p>
            <nav class="codrops-demos"> <a href="index.html">Demo 1: Overlapping levels</a> <a class="current-demo" href="index2.html">Demo 2: Covering levels</a> <a href="index3.html">Demo 3: Overlapping levels with back links</a> </nav>
          </div>
          <div class="block block-60">
            <p><strong>Demo 2:</strong> Covering levels with back link</p>
            <p>This menu will open by pushing the website content to the right. It has multi-level functionality, allowing endless nesting of navigation elements.</p>
            <p>The next level can optionally overlap or cover the previous one.</p>
          </div>
          <div class="info">
            <p>If you enjoyed this you might also like:</p>
            <p><a href="http://goo.gl/JLJ4v5">Responsive Multi-Level Menu</a></p>
        
        
        </div>
    
    </div>
    <!-- /scroller -->
    <div class ="tituloimagenes">
      <p>Contacto</p>
    </div>
    <!--<form action="formulario.php" method="post"   >
  Nombre:
  <input type="text" name="nombre" >
  <br>
  Apellido:
  <input type="text" name="apellido" >
  <br>
  Correo:
  <input type="email" name="email">
  <br>
  Mensaje:<br>
  <textarea rows="5" name="mensaje" cols="30" ></textarea>
  <br>
  <input type="submit" name="submit" value="Submit">
</form>-->
    <div class="Imagen"> <img src="../img/sombrin.jpg" /> </div>
    <!--<div class ="Contacto" style="line-height:200%; margin-top:2em; width: 477px; margin: 0px auto 0px auto; ">
      <form  ng-app="myApp"  ng-controller="validateCtrl" name="formulario" novalidate  action="formulario.php" method="post" style="line-height:175%; width: 477px; margin: 10px auto 0px auto; text-align:left;">
        Nombre:
        <input type="text" name="nombre" ng-model="user" required style="margin-left:28px; width:250px;">
        </br>
        Apellido:
        <input type="text" name="apellido" ng-model="apellido" required style="margin-left:28px; width:250px">
        </br>
        Correo:
        <input type="email" name="email" ng-model="email" required style="margin-left:37px; width:250px">
        </br>
        <span  ng-show="formulario.email.$dirty && formulario.email.$invalid"> <span ng-show="formulario.email.$error.required">El correo que ingresaste no es correcto.</span> <span ng-show="formulario.email.$error.email">El correo que ingresaste no es correcto.</span> </span>
        </p>
        Mensaje:
        <textarea rows="10" name="mensaje" ng-model="mensaje" cols="30" style="width: 477px; height: 201px; margin-top:2px;"></textarea>
        </p>
        <p>
          <input class="boton" type="submit" name="submit" value="Submit" ng-disabled="formulario.user.$pristine && formulario.user.$invalid || formulario.apellido.$pristine && formulario.apellido.$invalid || formulario.mensaje.$pristine && formulario.mensaje.$invalid || formulario.email.$pristine && formulario.email.$invalid" >
        </p>
      </form>
      <table align="center" width="500" border="0" cellspacing="0" cellpadding="0" margin-top="0px";
	margin-bottom="0px">
        <tr>
          <td><h4 style="margin-top: 0px; margin-bottom: 0px;" text-align:left;>Director Comercial Digital</h4></td>
          <td><h4 style="margin-top: 0px; margin-bottom: 0px;" text-align:left;>Comercial Digital</h4></td>
        </tr>
        <tr>
          <td><p style="margin-top: 0px; margin-bottom: .5em;">LUIS OREZZA</p></td>
          <td><p style="margin-top: 0px; margin-bottom: .5em;">PAOLA ABAD</p></td>
        </tr>
        <tr>
          <td><p class="icon icon-phone" style="margin-top: 0px; margin-bottom: 0px; text-align:left;"> +52 55 50623796</p></td>
          <td><p class="icon icon-phone" style="margin-top: 0px; margin-bottom: 0px; text-align:left;"> +52 55 50623763</p></td>
        </tr>
        <tr>
          <td><p class="icon icon-mail" style="margin-top: 0px; margin-bottom: 0px; text-align:left;"><a style="color:#333" href="mailto:luis.orezza@condenast.com.mx"> luis.orezza@condenast.com.mx</a></p></td>
          <td><p class="icon icon-mail" style="margin-top: 0px; margin-bottom: 0px; text-align:left;"><a style="color:#333" href="mailto:paola.abad@condenast.com.mx"> paola.abad@condenast.com.mx</a></p></td>
        </tr>
      </table>
    </div>-->
    
    <div class="iframe">
      <iframe src="formulario.html" scrolling="no" frameborder="0" width="500" height="450"></iframe>
    </div>
    <div class ="Contacto" style="line-height:200%; width: 477px; margin: 10px auto 0px auto; ">
      <table align="center" width="500" border="0" cellspacing="0" cellpadding="0" margin-top="0px";
	margin-bottom="0px">
        <tr>
          <td><h4 style="margin-top: 0px; margin-bottom: 0px;" text-align:left;>Director Comercial Digital</h4></td>
          <td><h4 style="margin-top: 0px; margin-bottom: 0px;" text-align:left;>Comercial Digital</h4></td>
        </tr>
        <tr>
          <td><p style="margin-top: 0px; margin-bottom: .5em;">LUIS OREZZA</p></td>
          <td><p style="margin-top: 0px; margin-bottom: .5em;">FRANCISCO LAGO</p></td>
        </tr>
        <tr>
          <td><p class="icon icon-phone" style="margin-top: 0px; margin-bottom: 0px; text-align:left;"> +52 55 50623796</p></td>
          <td><p class="icon icon-phone" style="margin-top: 0px; margin-bottom: 0px; text-align:left;"> +52 55 52603710</p></td>
        </tr>
        <tr>
          <td><p class="icon icon-mail" style="margin-top: 0px; margin-bottom: 0px; text-align:left;"><a style="color:#333" href="mailto:luis.orezza@condenast.com.mx"> luis.orezza@condenast.com.mx</a></p></td>
          <td><p class="icon icon-mail" style="margin-top: 0px; margin-bottom: 0px; text-align:left;"><a style="color:#333" href="mailto:francisco.lago@condenast.com.mx"> francisco.lago@condenast.com.mx</a></p></td>
        </tr>
      </table>
      </br>
      </br>
    </div>
  </div>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.user = '';
    $scope.apellido = '';
    $scope.email = '';
    $scope.mensaje = '';
});
</script> 
<script src="../js/classie.js"></script> 
<script src="../js/mlpushmenu.js"></script> 
<script>
new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ), {
				type : 'cover'
			} ); 
</script>
</body>
</html>
